body {
	margin: 0px;
	background-color: #191b1e;
	background-size: cover;	
	background-repeat: no-repeat;
	
}

a {
	text-decoration: none;
}

.logo img {
	width: 100px;
	float: left;
	padding-top: 10px;
	padding-left: 15px;
	filter: grayscale(100%);
}

.logo img:hover {
	transition-duration: 0.8s;
	filter: none;
}

.nav ul {	
	list-style-type: none;
	word-spacing: 40px;
	text-align: right;
	padding-top: 20px;
	
	padding-right: 50px;
}	

.nav li {
	display: inline-block;
	font-family: Montserrat Regular;
	font-size: 13px;

}

.nav a {
	color: #e8e6e9;
}

.nav li:hover {
	color: #FFD700;
	transition-duration: 0.5s;
}

.h1, .h2, .h3 {
	text-align: center;
	color: #e8e6e9;
	font-family: Century Gothic;

}

.h1 {
	font-size: 25px;
	padding-top: 175px;
}

.h2 {
	font-size: 60px;
	padding-top: 0;
	font-weight: bold;
}

.name {
	color: #FFD700;
}

.h3 {
	font-size: 25px;
	padding-top: 15px;
	
}

.hireme {
	text-align: center;
	font-family: Montserrat ;
	font-size: 20px;
	background-color: #e8e6e9;
	border: none; 
	padding: 5px 6px ;

}


.hireme:hover {
	background-color: transparent;
	color: #e8e6e9;
	border: solid 1px #e8e6e9;
	transition-duration: 0.5s;
}

.btndiv {
	text-align: center;
	padding-top: 45px;
}
