body, html {
  height: 100%;
  width: 100%;
  margin: 0;
}
body {
	margin: 0px;
	background-image: linear-gradient(#191b1e, #0d0c0e);
	background-color: #000;
	background-size: cover;
	background-repeat: no-repeat;
	
}

a {
	text-decoration: none;
}

.logo a {
	font-size: 25px;
	float: left;
	font-family: Berlin Sans FB;
	color: #e8e6e9;
	padding-left: 25px;
	padding-top: 10px;
}

.logo a:hover{
	transition-duration: 1.5s;
	color: #FFD700;
}

.nav ul {	
	list-style-type: none;
	word-spacing: 40px;
	text-align: right;
	padding-top: 20px;
	
	padding-right: 50px;
}	

.nav li {
	display: inline-block;
	font-family: Montserrat Regular;
	font-size: 13px;

}

.nav a {
	color: #e8e6e9;
}

.nav li:hover {
	color: #FFD700;
	transition-duration: 0.5s;
}

.h1, .h2, .h3 {
	text-align: center;
	color: #e8e6e9;
	font-family: Century Gothic;

}

.h1 {
	font-size: 25px;
	padding-top: 175px;
}

.h2 {
	font-size: 60px;
	padding-top: 0;
	font-weight: bold;
}

.name {
	color: #FFD700;
}

.h3 {
	font-size: 25px;
	padding-top: 15px;
	
}

.hireme {
	text-align: center;
	font-family: Montserrat ;
	font-size: 20px;
	background-color: #e8e6e9;
	border: none; 
	padding: 5px 5.5px 5px 5.5px;

}


.hireme:hover {
	background-color: transparent;
	color: #e8e6e9;
	border: solid 1px #e8e6e9;
	transition-duration: 0.5s;
}

.btndiv {
	text-align: center;
	padding-top: 45px;
}